@font-face {
	font-family: "iconfont";
	/* Project id 3471321 */
	src: url('//at.alicdn.com/t/c/font_3471321_2jop497g6zu.woff2?t=1662606147756') format('woff2'),
		url('//at.alicdn.com/t/c/font_3471321_2jop497g6zu.woff?t=1662606147756') format('woff'),
		url('//at.alicdn.com/t/c/font_3471321_2jop497g6zu.ttf?t=1662606147756') format('truetype');
}

.iconfont {
	font-family: "iconfont" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


.icon-bianji:before {
	content: "\e600";
	margin-left: 10px;

}

.icon-xingbienv:before {
	content: "\e605";
	margin-left: 10px;
}

.icon-xingbienan:before {
	content: "\e606";
	color: aqua;
	margin-left: 10px;

}

.icon-send_sound:before {
	content: "\e63b";
	font-size: 25px;
	margin: 0 8px;
}

.icon-xiaolian:before {
	content: "\e666";
	font-size: 25px;
	margin-right: 8px;
}

.icon-jianpan:before {
	content: "\e661";
}

.icon-shipintonghua:before {
	content: "\e6db";
	font-size: 25px;
}

.icon-weizhi:before {
	content: "\e63e";
	font-size: 25px;
}

.icon-xiangce:before {
	content: "\e62a";
	font-size: 30px;
}

.icon-paishexuanzhong:before {
	content: "\e601";
	font-size: 25px;
}
